.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.slides {
  display: flex;
}

.slides img {
  width: 459px;
  height: 688px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.indicator {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #bbb;
  border-radius: 50%;
}

.indicator.active {
  background-color: #717171;
}
