.menu__card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    var(--white) 50%,
    var(--menu-card) 50%
  );
}

.menu__card-img {
  display: flex;
  justify-content: center;
}

.menu__card-img img {
  height: 501px;
  width: 288px;
}

.menu__card-title {
  color: var(--title);
  font-size: 28px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.64px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 30px;
}

.menu__card-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 30px;
}

.menu__card-rating p {
  color: var(--title);
  font-size: 20px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.64px;
}

.menu__card-subtitle {
  color: rgba(34, 34, 34, 0.65);
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
  padding: 0 30px;
}

.menu__card button {
  margin-bottom: 30px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--title);
  color: var(--white);
  font-size: 22px;
  font-family: var(--font-raleway);
  font-weight: 500;
  line-height: 22.56px;
  padding: 20px 50px;
  margin-bottom: 30px;
}

.menu__card button img {
  margin-right: 20px;
  height: 24px;
}

@media only screen and (min-width: 1400px) and (max-width: 1919px) {
  .menu__card-img img {
    height: 481px;
    width: 268px;
  }

  .menu__card-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 1px;
    padding: 0 20px;
  }

  .menu__card-rating {
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .menu__card-rating p {
    font-size: 20px;
    line-height: 30px;
  }

  .menu__card-subtitle {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .menu__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__card button {
    margin: 0;
    font-size: 16px;
    padding: 10px 30px;
    margin-bottom: 30px;
  }

  .menu__card button img {
    margin-right: 10px;
    height: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .menu__card-img img {
    height: 461px;
    width: 248px;
  }

  .menu__card-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 1px;
    padding: 0 20px;
  }

  .menu__card-rating {
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .menu__card-rating p {
    font-size: 20px;
    line-height: 30px;
  }

  .menu__card-subtitle {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .menu__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__card button {
    margin: 0;
    font-size: 16px;
    padding: 10px 30px;
    margin-bottom: 30px;
  }

  .menu__card button img {
    margin-right: 10px;
    height: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menu__card-img img {
    height: 461px;
    width: 248px;
  }

  .menu__card-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 1px;
    padding: 0 20px;
  }

  .menu__card-rating {
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .menu__card-rating p {
    font-size: 20px;
    line-height: 30px;
  }

  .menu__card-subtitle {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .menu__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__card button {
    margin: 0;
    font-size: 16px;
    padding: 10px 30px;
    margin-bottom: 30px;
  }

  .menu__card button img {
    margin-right: 10px;
    height: 16px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .menu__card-img img {
    height: 461px;
    width: 248px;
  }

  .menu__card-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 1px;
    padding: 0 20px;
  }

  .menu__card-rating {
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .menu__card-rating p {
    font-size: 20px;
    line-height: 30px;
  }

  .menu__card-subtitle {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .menu__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__card button {
    margin: 0;
    font-size: 16px;
    padding: 10px 30px;
    margin-bottom: 30px;
  }

  .menu__card button img {
    margin-right: 10px;
    height: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .menu__card-img img {
    height: 401px;
    width: 188px;
  }

  .menu__card-title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0 10px;
  }

  .menu__card-rating {
    margin-bottom: 5px;
    padding: 0 10px;
  }

  .menu__card-rating p {
    font-size: 18px;
    line-height: 20px;
  }

  .menu__card-subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 0 10px;
  }

  .menu__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__card button {
    margin: 0;
    font-size: 16px;
    padding: 10px 30px;
    margin-bottom: 30px;
  }

  .menu__card button img {
    margin-right: 10px;
    height: 16px;
  }
}
