.testimonial {
  display: flex;
  flex-direction: row;
}

.testimonials__media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.testimonials__media-title {
  color: var(--title);
  font-size: 50px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.8px;
}

.testimonials__media-buttons button {
  padding: 20px;
}
.testimonials__media-buttons button:last-child {
  margin-left: 5px;
  background-color: var(--title);
}

.testimonial__card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.testimonial__card:hover {
  background-color: var(--menu-card);
}

.testimonial__card-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.testimonial__card-container-title {
  color: var(--title);
  font-size: 28px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.64px;
}

.testimonial__card-container-subtitle {
  color: var(--subtitle);
  font-size: 20px;
  font-family: var(--font-nanum);
  font-weight: 400;
  line-height: 36px;
}

.testimonial__card-container-owner {
  color: var(--title);
  font-size: 20px;
  font-family: var(--font-nanum);
  font-weight: 400;
}

.testimonial__card-user {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding: 0 30px;
}

.testimonial__card-user-container {
  margin-left: 20px;
}

.testimonial__card-user img {
  height: 72px;
  width: 72px;
  border-radius: 48px;
}

.testimonial__card-user-rating {
  /* margin-left: 20px; */
}

@media only screen and (min-width: 1400px) and (max-width: 1720px) {
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .testimonials__media {
    margin-bottom: 20px;
  }

  .testimonials__media-title {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.8px;
  }

  .testimonials__media-buttons button {
    padding: 12px;
  }

  .testimonials__media-buttons button:last-child {
    margin-left: 5px;
  }

  .testimonial__card-container {
    padding: 20px;
  }

  .testimonial__card-container-title {
    font-size: 24px;
  }

  .testimonial__card-container-subtitle {
    font-size: 18px;
  }

  .testimonial__card-container-owner {
    font-size: 18px;
  }

  .testimonial__card-user {
    padding: 0 20px;
  }

  .testimonial__card-user img {
    height: 72px;
    width: 72px;
    border-radius: 48px;
  }
  .testimonial__card-user {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonials__media {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials__media-title {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.8px;
  }

  .testimonials__media-buttons button {
    padding: 12px;
  }

  .testimonials__media-buttons button:last-child {
    margin-left: 5px;
  }

  .testimonial__card-container {
    padding: 20px;
  }

  .testimonial__card-container-title {
    font-size: 24px;
  }

  .testimonial__card-container-subtitle {
    font-size: 18px;
  }

  .testimonial__card-container-owner {
    font-size: 18px;
  }

  .testimonial__card-user {
    padding: 0 20px;
  }

  .testimonial__card-user img {
    height: 72px;
    width: 72px;
    border-radius: 48px;
  }
  .testimonial__card-user {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonials__media {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials__media-title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.8px;
    text-align: center;
  }

  .testimonials__media-buttons button {
    padding: 12px;
  }

  .testimonials__media-buttons button:last-child {
    margin-left: 5px;
  }

  .testimonial__card-container {
    padding: 10px;
  }

  .testimonial__card-container-title {
    font-size: 20px;
  }

  .testimonial__card-container-subtitle {
    font-size: 16px;
  }

  .testimonial__card-container-owner {
    font-size: 18px;
  }

  .testimonial__card-user {
    padding: 0 10px;
  }

  .testimonial__card-user img {
    height: 72px;
    width: 72px;
    border-radius: 48px;
  }
  .testimonial__card-user {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 575px) {
  .testimonials__media {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials__media-title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.8px;
    text-align: center;
  }

  .testimonials__media-buttons button {
    padding: 12px;
  }

  .testimonials__media-buttons button:last-child {
    margin-left: 5px;
  }

  .testimonial__card-container {
    padding: 10px;
  }

  .testimonial__card-container-title {
    font-size: 20px;
  }

  .testimonial__card-container-subtitle {
    font-size: 16px;
  }

  .testimonial__card-container-owner {
    font-size: 18px;
  }

  .testimonial__card-user {
    padding: 0 10px;
  }

  .testimonial__card-user img {
    height: 72px;
    width: 72px;
    border-radius: 48px;
  }
  .testimonial__card-user {
    display: flex;
    align-items: center;
  }
}
