.sponsor {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 75.75px;
    margin-bottom: 150px;
    justify-content: center;
}

.sponsor img {
    max-width: 100%;
    height: 40px;
    margin: 100px 0px;
}

.sponsor img:nth-child(n + 1):nth-child(-n + 5) {
    margin-right: 150px;
}