.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding: 0 163px;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__container-title {
  color: var(--title);
  font-size: 64px;
  font-family: var(--font-domine);
  font-weight: 400;
}

.header__container-subtitle {
  color: var(--subtitle);
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 36px;
  margin: 40px 0;
}

.header__container-button button {
  background-color: var(--black);
  color: var(--white);
  font-size: 22px;
  font-family: var(--font-raleway);
  font-weight: 500;
  line-height: 22.56px;
  padding: 20px 65px;
}

.header__photos img {
  position: absolute;
  max-width: 100%;
}

.img1 {
  top: 20%;
  right: 20%;
  height: 581px;
}

.img2 {
  top: 40%;
  right: 35%;
  height: 498.5px;
}

@media only screen and (min-width: 1400px) and (max-width: 1720px) {
  .header__container-title {
    font-size: 50px;
  }

  .header__container-subtitle {
    font-size: 18px;
  }

  .header__container-button button {
    font-size: 20px;
    padding: 15px 55px;
  }

  .img1 {
    top: 20%;
    right: 10%;
  }

  .img2 {
    top: 40%;
    right: 25%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .header {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 250px 0px;
  }

  .header__container-title {
    font-size: 54px;
  }

  .header__container-subtitle {
    font-size: 18px;
    margin: 30px 0;
  }

  .header__container-button button {
    font-size: 20px;
    padding: 15px 55px;
  }

  .header__photos img {
    position: relative;
    max-width: 100%;
  }
  .header__photos img:first-child {
    margin-right: 30px;
  }

  .img1 {
    top: 10%;
    right: 0%;
    height: 400px;
  }

  .img2 {
    top: 10%;
    right: 0%;
    height: 400px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 250px 0px;
  }

  .header__container-title {
    font-size: 50px;
  }

  .header__container-subtitle {
    font-size: 16px;
    margin: 30px 0;
  }

  .header__container-button button {
    font-size: 18px;
    padding: 12px 45px;
  }

  .header__photos img {
    position: relative;
    max-width: 100%;
  }

  .header__photos img:first-child {
    margin-right: 30px;
  }

  .img1 {
    top: 10%;
    right: 0%;
    height: 400px;
  }

  .img2 {
    top: 10%;
    right: 0%;
    height: 400px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 150px 0px;
  }

  .header__container-title {
    font-size: 40px;
  }

  .header__container-subtitle {
    font-size: 14px;
    margin: 20px 0;
  }

  .header__container-button button {
    font-size: 16px;
    padding: 10px 40px;
  }

  .header__photos img {
    position: relative;
    max-width: 100%;
  }

  .header__photos img:first-child {
    margin-right: 20px;
  }

  .img1 {
    top: 10%;
    right: 0%;
    height: 350px;
  }

  .img2 {
    top: 10%;
    right: 0%;
    height: 350px;
  }
}

@media only screen and (max-width: 575px) {
  .header {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-top: 50px;
    padding: 200px 0px;
  }

  .header__container {
    justify-content: center;
    align-items: center;
  }

  .header__container-title {
    font-size: 28px;
  }

  .header__container-subtitle {
    text-align: center;
    font-size: 14px;
    margin: 15px 0;
  }

  .header__container-button button {
    font-size: 16px;
    padding: 8px 30px;
  }

  .header__photos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__photos img {
    position: relative;
    max-width: 100%;
  }

  .header__photos img:first-child {
    margin-bottom: 10px;
  }

  .img1 {
    top: 4%;
    right: 0%;
    height: 300px;
  }

  .img2 {
    top: 4%;
    right: 0%;
    height: 300px;
  }
}
