.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 163px;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  margin-right: 176px;
  align-items: center;
}

.navbar__links a {
  text-decoration: none;
  color: var(--color-link);
  font-family: var(--font-raleway);
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  word-wrap: break-word;
}

.navbar__links a:hover {
  color: var(--title);
}

.navbar__links a:nth-child(n + 2):nth-child(-n + 5) {
  margin-left: 50px;
}

.navbar__logo img {
  max-width: 100%;
  height: 123px;
}

.navbar__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 245px;
}

.navbar__buttons button:first-child {
  color: var(--title);
  border: none;
  background-color: transparent;
  font-size: 22px;
  font-family: var(--font-raleway);
  font-weight: 500;
  line-height: 22.56px;
  word-wrap: break-word;
  margin-right: 15px;
}

.navbar__buttons button:nth-child(2) {
  color: var(--white);
  background-color: var(--black);
  padding: 16px 50px;
  font-size: 22px;
  font-family: var(--font-raleway);
  font-weight: 500;
  line-height: 22.56px;
  word-wrap: break-word;
  margin-right: 32px;
}

.navbar__buttons img {
  max-width: 100%;
  height: 34px;
}

/* menu */
.navbar__menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.navbar__menu svg {
  cursor: pointer;
}

.navbar__menu_container a {
  color: var(--black);
  font-family: var(--font-raleway);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin: 0 1rem;
  /* margin: 1rem 0; */
  cursor: pointer;
  text-decoration: none;
}

.navbar__menu_container button {
  padding: 0.5rem 1rem;
  color: var(--white);
  background: var(--black);
  font-family: var(--font-raleway);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  left: 1153px;
  top: 55px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.navbar__menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: end;
  background: var(--white);
  padding: 2rem;
  position: absolute;
  right: 100px;
  top: 0px;
  margin-top: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.navbar__menu_container-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.navbar__menu_container-links-sign {
  display: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1840px) {
  .navbar {
    padding: 20px 20px;
    justify-content: center;
  }

  .navbar__links a {
    font-size: 16px;
  }

  .navbar__links a:nth-child(n + 2):nth-child(-n + 5) {
    margin-left: 30px;
  }

  .navbar__logo img {
    max-width: 100%;
    height: 80px;
  }

  .navbar__buttons {
    margin-left: 100px;
  }

  .navbar__buttons button:first-child {
    font-size: 18px;
  }

  .navbar__buttons button:nth-child(2) {
    font-size: 18px;
  }

  .navbar__buttons img {
    max-width: 100%;
    height: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding: 30px 10px;
    justify-content: space-around;
  }

  .navbar__links {
    margin-right: 0px;
  }

  .navbar__links a {
    font-size: 16px;
  }

  .navbar__links a:nth-child(n + 2):nth-child(-n + 5) {
    margin-left: 15px;
  }

  .navbar__logo img {
    max-width: 100%;
    height: 50px;
  }

  .navbar__buttons {
    margin-left: 0px;
  }

  .navbar__buttons button:first-child {
    font-size: 18px;
    margin-right: 15px;
  }

  .navbar__buttons button:nth-child(2) {
    padding: 10px 30px;
    font-size: 18px;
    margin-right: 15px;
  }

  .navbar__buttons img {
    max-width: 100%;
    height: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 10px 10px;
    justify-content: space-around;
  }

  .navbar__links {
    margin-right: 0px;
  }

  .navbar__links a {
    font-size: 14px;
  }

  .navbar__links a:nth-child(n + 2):nth-child(-n + 5) {
    margin-left: 10px;
  }

  .navbar__logo img {
    max-width: 100%;
    height: 40px;
  }

  .navbar__buttons {
    margin-left: 0px;
  }

  .navbar__buttons button:first-child {
    font-size: 16px;
    margin-right: 10px;
  }

  .navbar__buttons button:nth-child(2) {
    padding: 5px 25px;
    font-size: 16px;
    margin-right: 15px;
  }

  .navbar__buttons img {
    max-width: 100%;
    height: 24px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar {
    padding: 20px 100px;
  }

  .navbar__links {
    display: none;
  }

  .navbar__logo {
    margin-top: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__logo img {
    width: 70px;
    height: 70px;
    margin-right: 0px;
  }

  .navbar__buttons {
    display: none;
  }

  .navbar__menu {
    display: flex;
  }

  .navbar__menu_container-links-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
  }
  .navbar__menu_container-links-sign img {
    height: 50px;
    width: 50px;
  }

  .navbar__menu_container-links-sign button {
    font-size: 16px;
    line-height: 25px;
    left: 1153px;
    top: 55px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

@media only screen and (max-width: 575px) {
  .navbar {
    padding: 20px 100px;
  }

  .navbar__links {
    display: none;
  }

  .navbar__logo {
    margin-top: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__logo img {
    width: 70px;
    height: 70px;
    margin-right: 0px;
  }

  .navbar__buttons {
    display: none;
  }

  .navbar__menu {
    display: flex;
  }

  .navbar__menu_container-links-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
  }
  .navbar__menu_container-links-sign img {
    height: 50px;
    width: 50px;
  }

  .navbar__menu_container-links-sign button {
    font-size: 16px;
    line-height: 25px;
    left: 1153px;
    top: 55px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
