.footer__end {
  display: flex;
  flex-direction: column;
  margin-top: 240px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 140px 163px;
  justify-content: space-between;
  align-items: center;
}

.footer__media {
  display: flex;
  flex-direction: column;
}
.footer__media-logo img {
  width: 158px;
}

.footer__media-subtitle {
  color: var(--subtitle);
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 36px;
  margin: 30px 0;
}

.footer__media-sm img:nth-child(2) {
  margin: 0 15px;
}

.footer__media-sm img {
  height: 24px;
  width: 24px;
}

.footer__links {
  display: flex;
  flex-direction: row;
}

.footer__links-container {
  display: flex;
  flex-direction: column;
}

.footer__links-container:nth-child(2) {
  margin: 0 100px;
}

.footer__links-container-title {
  color: var(--title);
  font-size: 28px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.64px;
  margin-bottom: 30px;
}

.footer__links-container-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer__links-container-link a {
  text-decoration: none;
  color: var(--subtitle);
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 500;
  line-height: 36px;
}

.footer__end-it {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title);
  font-size: 16px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 25.2px;
  padding: 50px 0;
}

@media only screen and (min-width: 1400px) and (max-width: 1720px) {
  .footer__end {
    margin-top: 100px;
  }

  .footer {
    padding: 100px 100px;
  }

  .footer__media-logo img {
    width: 128px;
  }

  .footer__media-subtitle {
    font-size: 18px;
  }

  .footer__links-container:nth-child(2) {
    margin: 0 80px;
  }

  .footer__links-container-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .footer__links-container-link a {
    font-size: 18px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .footer__end {
    margin-top: 100px;
  }

  .footer {
    padding: 100px 50px;
  }

  .footer__media-logo img {
    width: 100px;
  }

  .footer__media-subtitle {
    font-size: 16px;
  }

  .footer__links-container:nth-child(2) {
    margin: 0 50px;
  }

  .footer__links-container-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .footer__links-container-link a {
    font-size: 16px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer__end {
    margin-top: 100px;
  }

  .footer {
    padding: 100px 50px;
    flex-direction: column;
  }

  .footer__media-logo {
    display: flex;
    justify-content: center;
  }

  .footer__media-logo img {
    width: 100px;
  }

  .footer__media-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .footer__media {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer__links-container:nth-child(2) {
    margin: 0 50px;
  }

  .footer__links-container-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .footer__links-container-link a {
    font-size: 16px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer__end {
    margin-top: 50px;
  }

  .footer {
    padding: 50px 0px;
    flex-direction: column;
  }

  .footer__media-logo {
    display: flex;
    justify-content: center;
  }

  .footer__media-logo img {
    width: 100px;
  }

  .footer__media-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .footer__media {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer__links-container:nth-child(2) {
    margin: 0 50px;
  }

  .footer__links-container-title {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .footer__links-container-link a {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .footer__end {
    margin-top: 50px;
  }

  .footer {
    padding: 50px 0px;
    flex-direction: column;
  }

  .footer__media-logo {
    display: flex;
    justify-content: center;
  }

  .footer__media-logo img {
    width: 80px;
  }

  .footer__media-subtitle {
    font-size: 14px;
    text-align: center;
  }

  .footer__media {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer__links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__links-container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer__links-container:nth-child(2) {
    margin: 0 0px;
  }

  .footer__links-container-title {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .footer__links-container-link a {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__end-it {
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    padding: 20px 0;
  }
}
