.coffee {
  display: flex;
  flex-direction: column;
  margin-top: 228px;
}

.coffee__title {
  color: var(--title);
  font-size: 50px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 63.5px;
  margin-top: 69px;
}

.coffee__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coffee__container-first {
  display: flex;
  flex-direction: column;
}

.coffee__container-first-box {
  margin-bottom: 30px;
}

.coffee__container-first-box-title {
  color: var(--title);
  font-size: 28px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.64px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.coffee__container-first-box-subtitle {
  text-align: end;
  color: var(--subtitle);
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 36px;
}

.coffee__container-second {
  display: flex;
  flex-direction: column;
}

.coffee__container-second-box {
  margin-bottom: 30px;
}

.coffee__container-second-box-title {
  color: var(--title);
  font-size: 28px;
  font-family: var(--font-domine);
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.64px;
  margin-bottom: 10px;
}

.coffee__container-second-box-subtitle {
  color: var(--subtitle);
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 36px;
}

@media only screen and (min-width: 1400px) and (max-width: 1720px) {
  .coffee {
    margin-top: 100px;
  }

  .coffee__title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .coffee__container-first-box-title {
    font-size: 24px;
  }

  .coffee__container-first-box-subtitle {
    font-size: 18px;
    line-height: 32px;
  }

  .coffee__container-second-box-title {
    font-size: 24px;
  }

  .coffee__container-second-box-subtitle {
    font-size: 18px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .coffee {
    margin-top: 100px;
  }

  .coffee__title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .coffee__container-first-box-title {
    font-size: 18px;
  }

  .coffee__container-first-box-subtitle {
    font-size: 14px;
    line-height: 28px;
  }

  .coffee__container-second-box-title {
    font-size: 18px;
  }

  .coffee__container-second-box-subtitle {
    font-size: 14px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .coffee {
    margin-top: 100px;
  }

  .coffee__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .coffee__container-first-box-title {
    font-size: 16px;
    line-height: 20px;
  }

  .coffee__container-first-box-subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .coffee__container-second-box-title {
    font-size: 16px;
    line-height: 20px;
  }

  .coffee__container-second-box-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coffee {
    margin-top: 100px;
  }

  .coffee__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .coffee__container {
    margin-top: 30px;
    flex-direction: column;
  }

  .coffee__container-first {
    justify-content: center;
    align-items: center;
  }

  .coffee__container-second {
    justify-content: center;
    align-items: center;
  }

  .coffee__container-first-box-title {
    font-size: 16px;
    line-height: 20px;
    justify-content: flex-start;
  }

  .coffee__container-first-box-subtitle {
    text-align: start;
    font-size: 14px;
    line-height: 20px;
  }

  .coffee__container-second-box-title {
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
  }

  .coffee__container-second-box-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .coffee {
    margin-top: 50px;
  }

  .coffee__title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 0px;
    margin-top: 25px;
  }

  .coffee__container {
    margin-top: 30px;
    flex-direction: column;
  }

  .coffee__container-first {
    justify-content: center;
    align-items: center;
  }

  .coffee__container-second {
    justify-content: center;
    align-items: center;
  }

  .coffee__container-first-box-title {
    font-size: 16px;
    line-height: 20px;
    justify-content: flex-start;
  }

  .coffee__container-first-box-subtitle {
    text-align: start;
    font-size: 14px;
    line-height: 20px;
  }

  .coffee__container-second-box-title {
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
  }

  .coffee__container-second-box-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}
