@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
  --font-domine: "Domine", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-alice: "Alice", serif;
  --font-nanum: "Nanum Gothic", sans-serif;

  --white: #fff;
  --black: #000;
  --content: #eeeeee;
  --color-link: rgba(34, 34, 34, 0.65);

  --card: #b28864;

  --title: #222222;
  --subtitle: #444444;

  --menu-card: #f4f0e4;
}

.bg-brown-gradient {
  background: linear-gradient(302deg, #e2cfbe 0%, #e9dacc 43%, #caa883 100%);
}

.shadow {
  box-shadow: 21px 30px 38px -8px rgba(0, 0, 0, 0.45);
}
